body {
    background-color: #121212;
    background-image: url('https://raw.githubusercontent.com/CathieNova/Haven-VCQL-Helper/refs/heads/main/res/databasebg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #333333;
    color: #e0e0e0;
    padding: 0 10px;
    z-index: 1000;
}

#header-button {
    background-color: #700067;
    color: #fcfcfc;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    width: 40%;
}

#header-button:hover {
    background-color: #555;
}

#main-text {
    color: orange;
    border: #121212;
    border-radius: 5px;
    text-shadow: 
        -2px -2px 0 #121212,
        2px -2px 0 #121212,
        -2px 2px 0 #121212,
        2px 2px 0 #121212,
        0px -2px 0 #121212,
        0px 2px 0 #121212,
        -2px 0px 0 #121212,
        2px 0px 0 #121212;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 800px;
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
}

.item-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-top: 0px;
}

.show-all-button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

#json-file-select,
#dynamic-search {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
}

#json-file-select:hover,
#dynamic-search:hover {
    border-color: #b300a4;
}

.dropdown-menu {
    display: none;
    background-color: #333;
    color: #e0e0e0;
    max-height: 300px;
    min-width: 500px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.dropdown-item:hover {
    background-color: #444;
}

h1 {
    margin-top: 0px;
}

#item-display {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
}

pre {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    overflow: auto;
    white-space: pre-wrap;
    text-align: left;
}

.item-name,
.name-highlight {
    color: #17bea8;
    font-weight: bold;
}

.highlight-key {
    color: orange;
}

.key-colon {
    color: orange;
}

.key-colon-bracket {
    color: lightblue;
}

.key-colon-curly {
    color: magenta;
}

.json-key {
    color: orange;
}

.json-string {
    color: rgb(89, 192, 89);
}

.json-number {
    color: lightblue;
}

.json-boolean {
    color: violet;
}

.tpl-id,
.mongo-id {
    color: rgb(179, 70, 70);
}

#copy-tooltip {
    opacity: 0;
    transition: opacity 0.2s ease;
}

#copy-tooltip.show-tooltip {
    opacity: 1;
}
.mongo-id-link,
.copy-icon {
    cursor: pointer;
}
