body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
}
.item-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-top: 20px;
}

.show-all-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

#json-file-select,
#dynamic-search {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    background-color: #333;
    color: #e0e0e0;
    max-height: 300px;
    min-width: 500px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.dropdown-item:hover {
    background-color: #444;
}

#item-display {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
}

pre {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    overflow: auto;
    white-space: pre-wrap;
    text-align: left;
}


.name-highlight {
    color: #00ff00;
    font-weight: bold;
}

.highlight-key {
    color: orange;
}

.key-colon {
    color: orange;
}

.key-colon-bracket {
    color: lightblue;
}

.key-colon-curly {
    color: magenta;
}

.json-key {
    color: orange;
}

.json-string {
    color: lightgreen;
}

.json-number {
    color: lightblue;
}

.json-boolean {
    color: violet;
}

.mongo-id {
    color: red;
}